<section class="bunner">
  <div class="container bunner-container">
    <div class="bunner-wrapper">
      <div class="bunner-left-wrapper">
        <h2 class="bunner-title">
          Join 100 Compannies who boost&nbsp;their business&nbsp;with Product
        </h2>
        <button class="bunner-btn" type="button">Get This</button>
      </div>
      <img
        class="bunner-img"
        src="./images/graphics-min.png"
        alt="Information graphics"
        width="351"
      />
    </div>
  </div>
</section>
