<section class="collaboration">
  <div class="container collaboration-container">
    <div class="collaboration-wrapper">
      <h2 class="collaboration-title litle-title">
        Optimisation for
        <b class="title title-accent">Collaborative</b>
      </h2>
      <p class="collaboration-text">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul class="collaboration-list">
        <li class="collaboration-item">
          <h3 class="collaboration-subtitle">Accessory makers</h3>
          <p class="collaboration-item-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="collaboration-item">
          <h3 class="collaboration-subtitle">Alterationists</h3>
          <p class="collaboration-item-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img
      class="collaboration-img"
      src="../img/colaboration/collaboration-img.svg"
      alt="Folder with photo cards"
      width="540"
      height="500"
    />
  </div>
</section>
