<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list-btn">
        <li class="hero-item-btn">
          <button class="hero-btn default-btn" type="button">
            Get started
          </button>
        </li>
        <li class="hero-item-btn">
          <button class="btn-link" type="button">
            <svg class="hero-play-btn-icon" width="20" height="18">
              <use href="./images/icons.svg#icon-play"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <img
      class="hero-img"
      src="./img/hero/hero-img.svg"
      alt="People use smartphones"
      height="555"
      width="610"
    />
  </div>
</section>
