<section class="management">
  <div class="container management-container">
    <div class="management-wrapper">
      <h2 class="management-title litle-title">
        Effortless Validation for
        <b class="title title-accent">Management</b>
      </h2>
      <p class="management-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="management-list">
        <li class="management-item">
          <h3 class="management-subtitle">Accessory makers</h3>
          <p class="management-item-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="management-item">
          <h3 class="management-subtitle">Alterationists</h3>
          <p class="management-item-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img
      class="management-img"
      src="./img/management/management-img.svg"
      alt="Folders with documents"
      width="540"
      height="500"
    />
  </div>
</section>
