<section class="overview">
  <div class="container overview-container">
    <h2 class="overview-title title">What Clients Say</h2>
    <p class="overview-text">
      Problems trying to resolve the conflict between <br />the two major realms
      of Classical physics: Newtonian mechanics
    </p>
    <ul class="overview-list">
      <li class="overview-item">
        <p class="overview-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="overview-item-wrapper">
          <img
            class="overview-img"
            src="./images/Ellipse 2@2x.png"
            alt="Wahid Ari"
          />
          <div class="overview-right-subwrapper">
            <h4 class="overview-client-name">Wahid Ari</h4>
            <p class="overview-client-profession">Designer</p>
          </div>
        </div>
      </li>
      <li class="overview-item">
        <p class="overview-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="overview-item-wrapper">
          <img
            class="overview-img"
            src="./images/Ellipse 2@2x-1.png"
            alt="Wahid Ari"
          />
          <div class="overview-right-subwrapper">
            <h4 class="overview-client-name">Wahid Ari</h4>
            <p class="overview-client-profession">Designer</p>
          </div>
        </div>
      </li>
      <li class="overview-item">
        <p class="overview-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="overview-item-wrapper">
          <img
            class="overview-img"
            src="./images/Ellipse 2@2x-2.png"
            alt="Wahid Ari"
          />
          <div class="overview-right-subwrapper">
            <h4 class="overview-client-name">Wahid Ari</h4>
            <p class="overview-client-profession">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
