<section class="price">
  <div class="container price-container">
    <h2 class="price-title title">Price Table</h2>
    <p class="price-text">We offer competitive price</p>
    <ul class="price-cards-list">
      <li class="price-card">
        <h3 class="price-card-title">Free</h3>
        <p class="price-card-text">Brief price description</p>
        <div class="card-wrapper">
          <span class="price-card-price">0</span>
          <div class="right-subwrapper">
            <span class="card-dollar">$</span>
            <p class="price-card-pm">Per / month</p>
          </div>
        </div>
        <ul class="price-card-includes">
          <li class="card-include">
            <p>Only 2 Operators</p>
          </li>
          <li class="card-include">
            <p>Notifications</p>
          </li>
          <li class="card-include">
            <p>Landing Pages</p>
          </li>
        </ul>
        <button class="price-card-btn" type="button">Order Now</button>
      </li>
      <li class="price-card">
        <h3 class="price-card-title">Standard</h3>
        <p class="price-card-text">Brief price description</p>
        <div class="card-wrapper">
          <span class="price-card-price">5</span>
          <div class="right-subwrapper">
            <span class="card-dollar">$</span>
            <p class="price-card-pm">Per / month</p>
          </div>
        </div>
        <ul class="price-card-includes">
          <li class="card-include">
            <p>5+ Operators</p>
          </li>
          <li class="card-include">
            <p>Notifications</p>
          </li>
          <li class="card-include">
            <p>Landing Pages</p>
          </li>
        </ul>
        <button class="price-card-btn" type="button">Order Now</button>
      </li>
      <li class="price-card">
        <h3 class="price-card-title">Premium</h3>
        <p class="price-card-text">Brief price description</p>
        <div class="card-wrapper">
          <span class="price-card-price">10</span>
          <div class="right-subwrapper">
            <span class="card-dollar">$</span>
            <p class="price-card-pm">Per / month</p>
          </div>
        </div>
        <ul class="price-card-includes">
          <li class="card-include">
            <p>10+ Operators</p>
          </li>
          <li class="card-include">
            <p>Notifications</p>
          </li>
          <li class="card-include">
            <p>Landing Pages</p>
          </li>
        </ul>
        <button class="price-card-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
