<section class="specification">
  <div class="container specification-container">
    <h2 class="specification-title title">
      Product was Built Specifically for&nbsp;You
    </h2>
    <ul class="specification-list">
      <li class="specification-item">
        <h3 class="specification-subtitle">First click tests</h3>
        <p class="specification-text">
          While most people enjoy casino gambling,
        </p>
      </li>
      <li class="specification-item">
        <h3 class="specification-subtitle">Design surveys</h3>
        <p class="specification-text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>
      <li class="specification-item">
        <h3 class="specification-subtitle">Preference tests</h3>
        <p class="specification-text">
          The Myspace page defines the individual.
        </p>
      </li>
      <li class="specification-item">
        <h3 class="specification-subtitle">Five second tests</h3>
        <p class="specification-text">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button class="specification-btn default-btn" type="button">
      SIGN UP NOW
    </button>
  </div>
</section>
