<section class="staff">
  <div class="container staff-container">
    <h2 class="staff-title title">Quick & Easy Process</h2>
    <p class="staff-text">
      Do you require some help for your project: Conception workshop,<br />
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="staff-list">
      <li class="staff-item">
        <img
          class="staff-img"
          srcset="
            ./img/staff/avatar-1_desk@2x.png 1x,
            ./img/staff/avatar-1_desk@1x.png 2x
          "
          src="./img/staff/avatar-1_desk@1x.png"
          alt="A girl with white hair in a coat"
          width="98"
        />
        <div class="staff-text-wrapper">
          <p class="staff-item-text">I can take care of your pitch</p>
        </div>
      </li>
      <li class="staff-item">
        <div class="staff-text-wrapper">
          <p class="staff-item-text">I can prototype your app</p>
        </div>
        <img
          class="staff-img"
          srcset="
            ./img/staff/avatar-2_desk@2x.png 1x,
            ./img/staff/avatar-2_desk@1x.png 2x
          "
          src="./img/staff/avatar-2_desk@1x.png"
          alt="A woman in a black cardigan"
          width="98"
        />
      </li>
      <li class="staff-item">
        <div class="staff-text-wrapper">
          <p class="staff-item-text">I can take care of your pitch</p>
        </div>
        <img
          class="staff-img"
          srcset="
            ./img/staff/avatar-3_desk@2x.png 1x,
            ./img/staff/avatar-3_desk@1x.png 2x
          "
          src="./img/staff/avatar-3desk@1x.png"
          alt="A guy with a vintage camera"
          width="98"
        />
      </li>
      <li class="staff-item">
        <img
          class="staff-img"
          srcset="
            ./img/staff/avatar-4_desk@2x.png 1x,
            ./img/staff/avatar-4_desk@1x.png 2x
          "
          src="./img/staff/avatar-4_desk@1x.png"
          alt="A bald man in a red t-shirt"
          width="98"
        />
        <p class="staff-item-text">I can help marketing strategy</p>
      </li>
    </ul>
    <button class="staff-btn default-btn" type="button">
      Contact our expert
    </button>
  </div>
</section>
