<section class="support">
  <div class="container support-container">
    <img
      class="support-img"
      src="./img/support/support-img.svg"
      alt="Laptop with search bar"
      width="540"
      height="500"
    />
    <div class="support-wrapper">
      <h2 class="support-title litle-title">
        Easier decision making for
        <b class="title title-accent">Customer Support</b>
      </h2>
      <p class="support-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-item">
          <p class="support-item-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-item">
          <p class="support-item-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-item">
          <p class="support-item-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
