/* #region Footer */
.footer {
}
.container {
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding-bottom: 23px;
}
.left-footer-wrapper {
  margin-right: 146px;
}
.logo {
}
.footer-logo {
  margin-bottom: 18px;
}
.logo-icon {
}
.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.footer-social-item {
}
.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edfffc;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  fill: transparent;
  stroke: #02897a;
}
.footer-left-center-wrapper {
  margin-right: 129px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-resource-list {
}
.footer-resource-item {
}
.footer-resource-link,
.footer-staff-link {
  line-height: 2.1875;
  color: #22343d;
}
.footer-right-center-wrapper {
  margin-right: 83px;
}
.footer-staff-list {
}
.footer-staff-item {
}
.footer-right-wrapper {
  width: 325px;
}

.form-title {
  margin-bottom: 30px;
  text-transform: lowercase;
}
.footer-form {
}
.footer-form-label {
}
.footer-input-wrap {
  position: relative;

  margin-bottom: 25px;
}
.footer-form-input {
  width: 325px;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  padding: 10px 12px 10px 42px;
}
.footer-form-input::placeholder {
  color: #02897a;
}
.footer-input-icon {
  fill: #02897a;

  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.footer-form-btn {
  min-width: 131px;
  min-height: 39px;

  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  background: #02897a;
  outline: transparent;
  border: transparent;
}

.footer-bottom {
  padding-bottom: 40px;
}
.footer-make-text {
  line-height: 1.875;
}
