/* #region Header */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.header-logo {
  margin-right: 237px;
}
.header {
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-right: 73px;
}
.header-nav-list {
  display: flex;
  gap: 30px;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0px;
}
.current {
  font-weight: 600;
}
.header-btn-list {
  display: flex;
  gap: 21px;
}
.header-btn-item {
}
.header-btn {
  font-weight: 600;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  background-color: transparent;
}
.header-btn:focus,
.header-btn:hover {
  color: #fff;
  background: #02897a;
  border: none;
}
/* #endregion */
