/* #region Hero */
.hero {
  padding-top: 25px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-wrapper {
  margin-right: 35px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 45px;
}

.hero-list-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-item-btn {
}

.hero-btn {
  min-width: 178px;
}

.btn-link {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  gap: 9px;
}

.hero-play-btn-icon {
  fill: #02897a;
}

.hero-img {
}
/* #endregion */
