.specification {
  padding-bottom: 38px;
}
@media only screen and (min-width: 1150px) {
  .specification {
    padding-bottom: 50px;
  }
}
.specification-container {
}
.specification-title {
  display: block;
  max-width: 539px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.specification-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .specification-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }
}
@media only screen and (min-width: 1150px) {
  .specification-list {
    flex-wrap: nowrap;
    align-items: first baseline;
  }
}
.specification-item {
  max-width: 240px;
}
@media only screen and (min-width: 1150px) {
  .specification-item {
    max-width: calc((100% - 3 * 30px) / 4);
  }
}
.specification-item::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 24px;
}
@media only screen and (min-width: 1150px) {
  .specification-item::before {
    width: 54px;
    height: 54px;
    margin: 0;
    margin-bottom: 26px;
  }
}
.specification-item:nth-child(1)::before {
  content: '';
  background-color: #02897a;
  background-image: url(../img/icons/click.svg);
}
.specification-item:nth-child(2)::before {
  content: '';
  background-color: #4d8dff;
  background-image: url(../img/icons/tilda.svg);
}
.specification-item:nth-child(3)::before {
  content: '';
  background-color: #740a76;
  background-image: url(../img/icons/love-heart.svg);
}
.specification-item:nth-child(4)::before {
  content: '';
  background-color: #f03e3d;
  background-image: url(../img/icons/sand-clock.svg);
}
.specification-subtitle {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1150px) {
  .specification-subtitle {
    text-align: left;
    margin-bottom: 13px;
  }
}
.specification-text {
  text-align: center;
}
@media only screen and (min-width: 1150px) {
  .specification-text {
    text-align: left;
  }
}
.specification-btn {
  min-width: 175px;
  text-transform: uppercase;
  margin: 0 auto;
}
