/* #region Strategies */
.strategies {
  padding-bottom: 171px;
}

.strategies-container {
}

.strategies-title {
  font-size: 34px;
  margin-bottom: 10px;
}

.title {
}
.strategies-text {
  font-weight: 500;
  display: block;
  width: 465px;
  margin-bottom: 40px;
}
.strategies-card-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.strategy-card {
  border: 1px solid #dedede;
  border-radius: 8px;
  width: calc((100% - 2 * 30px) / 3);
  overflow: hidden;
}

.card-text {
  padding: 24px 27px 40px;
}

.strategy-img {
  width: 100%;
  height: 185px;
}

.strategy-text {
  margin-bottom: 12px;
}

.strategy-accent-word {
}

.strategy-subtitile {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66;
}

.strategy-card:hover .strategy-subtitile,
.strategy-card:focus .strategy-subtitile {
  color: #02897a;
}
/* #endregion */
